/* RESET DEFAULTS */
html,
body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h2,
h3 {
  font-weight: normal;
  margin: 0;
  font-size: inherit;
}

/* BODY */
body.usable {
  background-color: var(--blue);
  color: white;
}

/* FONTS */
.sans {
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}

.mono {
  font-family: monospace;
  font-size: var(--fontSizeS);
}

/* FLOATING */
.floating {
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.biggerFontSizeForEasierScaling {
  font-size: var(--fontSizeLScaled);
}

/* @media screen and (max-width: 900px) { */
@media screen and (max-width: 800px) {
  .biggerFontSizeForEasierScaling {
    font-size: var(--fontSizeLScaledMobile);
  }
}
