header {
  font-size: 50px;
  background-color: var(--white);
}

.usable header {
  background-color: var(--blue);
}

/* SURTITLE */
#surtitle {
  display: flex;
  padding: var(--gapTop) var(--gapSides) var(--gapTop) var(--gapSides);
}

#surtitle div {
  flex: 1 0 50%;
}

@media screen and (max-width: 500px) {
  #surtitle {
    justify-content: space-between;
  }

  #surtitle div {
    flex: 0 0 auto;
  }
}

/* TITLE */
.title {
  font-size: var(--fontSizeTitle);
  padding: 0 var(--gapXS);
  text-transform: uppercase;
  line-height: 0.85;
  box-shadow: 0 0 5px 12px var(--white);
}

.usable .title {
  box-shadow: 0 0 5px 12px var(--blue);
}

.title .serif {
  font-size: var(--fontSizeTitleSerif);
  margin-top: calc((var(--toggleGap) / 1.5) * -1);
}

#title--line1 {
  display: flex;
}

#title--line2 {
  margin-left: var(--toggleGap);
}

/* position title / toggle on top in unusable mode */
.positionOnTop {
  position: sticky;
  z-index: 1;
  top: 0;
}
