/* TERMS */
.term {
  color: var(--blue);
  text-decoration: none;
  display: block;
  width: fit-content;
  padding: var(--gapM) 0;
  /* border: 1px solid black; */
  line-height: 1;
  /* transition: transform 0.5 ease; */
}

.term h2 {
  padding-top: var(--gapS);
}

.usable .term {
  font-size: var(--fontSizeL);
  color: var(--white);
}

.term .mono {
  font-size: var(--fontSizeSScaled);
}

/* mobile */
@media screen and (max-width: 800px) {
  .term .mono {
    font-size: var(--fontSizeSScaledMobile);
  }
}

.usable .term .mono {
  font-size: var(--fontSizeS);
}

/* RESEARCH */
.research {
  color: var(--black);
  /* display: none; */
}

.usable .research {
  color: var(--black);
}

/* HOVER */
.term:hover {
  text-decoration: underline;
  /* color: grey; */
}

/* VISITED */
/* .term:visited {
  color: var(--grey);
}
.term.research:visited {
  color: var(--darkgrey);
  color: var(--grey);
} */
