:root {
  /* GAPS */
  --gapXS: 3px;
  --gapS: 5px;
  --gapM: 10px;
  --gapL: 20px;
  --gapTop: 10px;
  --gapSides: 15px;

  /* TOGGLE */
  --toggleWidth: 19.13vw;
  --toggleGap: 0.76vw;
  --toggleMargin: calc(var(--toggleGap) * 0.9);

  /* COLORS */
  --blue: rgb(62, 62, 255);
  --white: white;
  --black: black;
  --purple: purple;

  /* FONT SIZES */
  --fontSizeS: 16px;
  --fontSizeSScaled: 22px;
  --fontSizeSScaledMobile: 18px;
  --fontSizeL: 50px;
  --fontSizeLScaled: 80px;
  --fontSizeLScaledMobile: 50px;
  --fontSizeText: 16px;
  --fontSizeTitle: 14.1vw;
  --fontSizeTitleSerif: 15vw;
}

/* mobile */
@media screen and (max-width: 900px) {
  :root {
    --gapTop: 5px;
    --gapSides: 10px;
  }
}

/* large desktops */
@media screen and (min-width: 1100px) {
  :root {
    --toggleWidth: 211px;
    --toggleGap: 8px;
    --toggleMargin: calc(var(--toggleGap) * 0.9);

    --fontSizeTitle: 155px;
    --fontSizeTitleSerif: 165px;
  }
}
