:root {
  /* GAPS */
  --gapXS: 3px;
  --gapS: 5px;
  --gapM: 10px;
  --gapL: 20px;

  /* TOGGLE */
  --toggleHeight: 19.13vw;
  --toggleWidth: 19.13vw;
  --toggleGap: 0.76vw;
  --toggleMargin: calc(var(--toggleGap) * 1.3);

  /* COLORS */
  --blue: blue;
  --white: white;

  /* FONT SIZES */
  --fontSizeS: 16px;
  --fontSizeL: 50px;
  --fontSizeTitle: 14.2vw;
  --fontSizeTitleSerif: 15.1vw;
}
